a,
a:active,
a:hover,
a:visited {
  color: inherit;
}

body {
  color: #000;
  font-family: monospace;
  font-size: 12px;
}

button,
input,
select,
textarea {
  color: #000;
  font-family: monospace;
  font-size: 12px;
  width: 100%;
}

dl {
  font-size: 10px;
  overflow: scroll;
  padding: 0 0 10px;
}

dl dd {
  margin-inline-start: 10px;
}

form label {
  display: block;
  padding-top: 10px;
}

.sc-canvas {
  position: absolute;
  right: 20px;
  top: 20px;
}

.sc-click {
  cursor: pointer;
}

.sc-container {
  background: #FFF;
  border: 1px solid grey;
  box-shadow: 10px 10px 5px grey;
  float: left;
  margin: 0 0 0 20px;
  width: 318px;
}

.sc-first {
  margin: 0;
}

.sc-footer {
  background: #000;
  bottom: 0;
  color: #FFF;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.sc-form {
  padding: 20px 0;
}

.sc-heading {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.sc-hidden {
  display: none;
}

.sc-inner {
  padding: 20px 20px 10px;
}

.sc-qrcode {
  background: #FFF;
  height: 280px;
  margin: 0 0 20px 20px;
  width: 280px;
}

.sc-table {
  width: 100%;
}
